<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{{> addPost}}
					{{> favoritesSidebar}}
				</div>
				<div class="col-md-9">
					{{> posts}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="addPost">
	<div class="template-add-post">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{_ "add_post"}}</h3>
				</div>
				<div class="panel-body">
					{{#autoForm id="add" collection="Posts" type="insert"}}
					{{> afQuickField name="header"}}
					{{> afQuickField name="footerLine1"}}
          {{> afQuickField name="footerLine2"}}
					{{> afQuickField name="picture"}}
          {{> afQuickField name="overlayColor"}}
          {{> afQuickField name="overrideFilters"}}
					<button type="submit" class="btn btn-primary">{{_ "add_post_btn"}}</button>
					{{/autoForm}}
				</div>
		</div>
	</div>
</template>

<template name="posts">
		{{#each  posts}}
		{{> post}}
		{{else}}
		{{> noData}}
		{{/each}}
</template>

<template name="post">

        {{#if overrideFilters}}
            <img src="{{#with getDoc picture 'Attachments'}}{{url}}{{/with}}" class="bg">
        {{else}}
            <img src="{{#with getDoc picture 'Attachments'}}{{url}}{{/with}}" class="bg desaturate">
        {{/if}}
        

        {{#if overrideFilters}}
        {{else}}
        <div class="overlay" style="background: rgba({{colorAsRGB}},.80)"></div>
        {{/if}}

        <img src="/img/logo.svg" id="logo"/>
				<p id="title">{{header}}</p>
						
        <div id="footer">
            <p id="footer-line-1">
              {{footerLine1}}
            </p>
            <p id="footer-line-2">
              {{footerLine2}}
            </p>
        </div>
</template>

<template name="favoritesSidebar">

	<div class="template-favorites-sidebar">
		{{#if myFavorites.count}}
		<div class="panel panel-default">
			<div class="panel-heading">
					<h3 class="panel-title">{{_ "favorites"}}</h3>
			</div>
			<div class="panel-body">
				<ul>
				{{#each myFavorites}}
					<li>
						<a>{{_id}}</a>
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
		{{/if}}
	</div>
</template>
